body {
  background-image: url(https://wildlifeprojectgc.weebly.com/uploads/2/5/2/3/25232005/1373217_orig.jpg);
  color: white;
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: 100%;
}

ul {
  border: 2px solid white;
  border-radius: 25px;
  list-style-type: none;
  margin: 0px 0px 25px 0px;
  padding: 10px;
  background-color: green;
  overflow: hidden;
  width: 10%;
  right: 1%;
  top: 1%;
  position: fixed;
}

li a {
  margin: 5px;
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
}

li a:hover {
  background-color: lightgreen;
  color: green;
}

.active {
  background-color: black;
  color: white;
}

div {
  background-color: green;
  border: 2px dashed white;
  margin: 50px;
  padding: 15px;
  border-radius: 25px;
  overflow: hidden;
  float: left;
  width: 80%;
}

.grp1 {
  text-align: center;
}

.grp1 img {
  height: 150px;
  float: left;
}

.grp2 {
  text-align: center;
}

.grp2 img {
  float: right;
  height: 150px;
  margin-left: 25px;
}

.grp3 {
  text-align: center;
}

.grp3 img {
  float: left;
  width: 200px;
  margin: 10px;
}
