body{
  background: rgb(200,200,200);
  color: rgb(255,255,255);
}

input {
  margin: 0.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input:focus {
  box-shadow: 0 0 0 1pt #5E9ED6;
}

button{
  margin: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li{
  background: rgba(200,200,200,0.25);
  padding: 0.25rem 0.5rem;
  margin: 1rem auto 0.5rem auto;
  border-radius: 1rem;
  min-width: 12rem;
  max-width: 20rem;
}

.main{
  display: flex;
}

.header{
  background: rgba(0,0,0,0.65);
  width: 95%;
  margin: auto;
  padding: 0.1rem;
  text-align: center;
  border-radius: 1rem;
}

.right-container{
  background: rgba(0,0,0,0.65);
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  text-align: center;
}

.left-container{
  background: rgba(0,0,0,0.65);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.contact{
  background: rgba(200,200,200,0.55)
}

.delete{
  float: left;
  cursor: pointer;
  color: rgb(255,50,50);
  width: 0.9rem;
}